name: tests
on: [push, pull_request]
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        nim-version: ['2.0.x', '2.2.x', 'stable']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: ${{ matrix.nim-version }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - run: nimble test -y
    - run: nimble test --mm:orc -y
    - run: nim js -r tests/all.nim
    - run: nim cpp -d:release --mm:arc -r tests/all.nim
